
/*--- header universitas ---*/
      header{
         width: 100%;
         height: auto;
         background-color: rgb(30, 223, 223);
         padding: 12px 15px 1px;
         box-sizing: border-box;
         -O-box-sizing : border-box;
      }

      #cariNav{
         float: right!important;
         border: 0;
         width: 5px;
         font-size: 0px;
         padding: 6.5px 12px 6.5px 29px;
         box-sizing: border-box;
         border-bottom: 2px rgb(251, 252, 252) solid;
         color: white;
         background: url('images/search.png') no-repeat;
         background-position: left;
         background-size: 15px;
         transition: all 0.5s;
      }

      input:focus, #cariNav:focus{
         outline: 0;
         width: auto;
         font-size: 15px;
      }

      #cariNav:focus{
         border-bottom: 2px black solid;
      }

      nav{
         background-color: rgba(81, 168, 177, 0.43);
         height: 60px;
         width: 100%;
         margin: 5px 0;
         box-sizing: border-box;
         border-radius: 4px;
      }

      nav>ul{
          width: auto;
          height: 60px;
          float: left;
      }

      nav>ul>li{
          width: auto;
          height: 60px;
          padding: 3px 15px;
          box-sizing: border-box;
          float: left;
          display: inline-block;
          margin: 0 5px;
          position: relative;
      }

      nav>ul>li>a{
          text-decoration: none;
          color: rgb(237, 237, 237);
          line-height: 60px;
          font-size: 21px;
          font-weight: lighter;
      }

     .liNav:hover{
         background-color: rgb(30, 223, 223);
         border-top: 2px rgba(81, 168, 177, 0.43) solid;
     }

     .liNav:hover .drop{
         display: block;
         width: auto;
         height: auto;
         padding: 9px 4px;
     }

     .drop{
         display: none;
         width: 0;
         height: 0;
         padding: 0;
         background-color: white;
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
         position: absolute;
         top: 50px;
         left: 0;
         transition: widht 2s height 2s;
         -webkit-transition : widht 2s height 2s;
     }

     .drpConten{
         color: rgb(30, 223, 223);
         font-size: 15px;
         line-height: 2;
         font-weight: lighter;
         text-align: left;
         text-decoration: none;
     }

     .drpConten:hover{
         color: white;
         background-color: rgb(30, 223, 223);
     }


/** --- body universitas --- */
        .container{
            width: 85%;
            margin: 0 auto;
            padding: 40px 0;
        }

        .slideShow{
            width: 100%;
            height: auto;
            padding: 40px 100px;
            box-sizing: border-box;
            -o-box-sizing : border-box;
            -ms-box-sizing : border-box;
        }

        .show{
            width: 100%;
            height: 400px;
            box-sizing: border-box;
        }

        .imgShow{
            max-width: 100%;
            max-height: 100%;
            width: 100%;
        }

        .main{
          width: 100%;
          height: 600px;
          background-color: white;
          padding: 7px;
          box-sizing: border-box;
        }

        article{
          width: 64%;
          height:auto;
          background-color: rgb(226, 226, 228);
          float: left;
          padding: 7px;
          box-sizing: border-box;
        }

        .bxArticle{
            float: left;
            display: inline-block;
            width: 48%;
            height: 200px;
            margin: 15px 1%;
            position: relative;
        }

        .imgBerita{
            width: 100%;
            height: 100%;
        }

        /*-- konten samping ---*/
        aside{
          float: right;
          width: 30%;
          height: auto;
          padding: 6px 9px;
          background-color: rgb(226, 226, 228);
        }

        .prevArticle{
          width: 100%;
          height: auto;
          box-sizing: border-box;
          margin: 9px 0;
          padding: 3px;
          background-color: rgba(128, 226, 223, 0.56);
          border-right: 0px;
          transition: all 0.6s;
        }
        .prevArticle:hover{
          border-right: 5px rgb(75,75,71) solid;
        }
        .prevArticle>img{
          width: 100px;
          height: 60px;
          float: left;
          margin-right: 13px;
        }
        .prevArticle>p{
          color: white;
          clear: both;
          font-size: 15px;
          font-weight: lighter;
        }
        /*.prevArticle>h1>a{
          text-decoration: underline;
          font-weight: lighter;
          font-size: 17px;
          color: white;
        }*/

      /*-- map ---*/
        #map{
            background-color: rgb(114, 232, 200);
            width: 100%;
            height: 330px;
        }

        iframe{
            background-color: white;
            padding: 4px;
            box-sizing: border-box;
            border: 0;
            float: left;
        }
        .quote{
          width: 48%;
          height: auto;
          padding: 4px;
          float: right;
        }
        .quote>h1{
          font-size: 28px;
          color: white;
          font-weight: lighter;
        }
        .quote>p{
          margin: 9px 0 25px 0;
        }

        .qbtn{
          width: auto;
          height: auto;
          padding: 9px;
          box-sizing: border-box;
          background-color: white;
          display: inline;
        }
        .qbtn:hover{
          box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
        }
        .qbtn>a{
          text-decoration: none;
          color: rgb(114, 232, 200);
          font-size: 19px;
        }
        /*-- map ---*/

        /*---- konten ----*/
        #konten{
          background: url('images/rahma.jpg') no-repeat;
          background-size: cover;
          width: 100%;
          height: 780px;
          background-position: center;
          background-attachment: fixed;
        }
        #konten h1{
          font-size: 37px;
          color: white;
          text-decoration: underline;
          display: block;
          margin-bottom: 3%;
        }
        .kol3{
          width: 30%;
          margin: 12px 1%;
          height: 250px;
          float: left;
          background-color: white;
          box-sizing: border-box;
          padding: 9px;
        }
        .kol3:hover{
            box-shadow: 0 4px 8px 0 rgb(221, 42, 110),0 6px 20px 0 rgb(77, 218, 205) !important;
            border: 0.6px rgb(221, 42, 110) solid;
        }
        .kol3>video{
          height: 100%;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
        }


        /*---- konten ----*/

        /*---- buku Tamu ---*/

        #bTamu{
            width: 100%;
            height: 650px;
            background-color: rgba(98, 179, 198, 0.72);
        }

        .h{
            font-size: 32px;
            font-weight: lighter;
            color: white;
            text-align: center;
            width: 100%;
        }

        /*.cvr{
            width: auto;
            height: 500px;
            overflow: scroll;
        }*/

            /*-- form buku tamu --*/
            #wrapper{
                 width: 60%;
                 box-sizing: border-box;
                 margin: 20px auto;
            }

            .panel{
                 background-color: rgb(255, 255, 255);
                 width: 100%;
                 height: auto;
                 margin: 3px 5px;
                 display: block;
                 box-sizing: border-box;
                 box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
                 position: relative;
            }

            .pnlHead{
                 padding: 10px 16px;
                 width: 100%;
                 height: auto;
                 background-color: rgb(233, 233, 233);
                 border-bottom: 1.5px rgba(1, 1, 1, 0.4) solid;
                 box-sizing: border-box;
                 border-top-left-radius: inherit;
                 border-top-right-radius: inherit;
                 margin-bottom: 5px;
            }
            .pnlHead>h1,.pnlHead>h2,.pnlHead>p{
                 font-size: 24px;
                 font-weight: lighter;
                 white-space: nowrap;
                 color: #312e2e;
            }

            .pnlBody{
                 width: 100%;
                 height: auto;
                 box-sizing: border-box;
                 padding: 10px 15px;
                 margin: 9px auto;
            }

            .form{
                 width: 100%;
                 height: auto;
                 padding: 9px 8px;
                 box-sizing: border-box;
            }

            input{
                 border: 0;
            }
            input:focus,select:focus,textarea:focus{
                 outline: 0;
            }

            input[type="text"],input[type="password"],input[type="email"],
            input[type="search"],input[type="submit"],input[type="button"],
            input[type="date"],select,label,textarea{
                 max-width: 100%;
                 box-sizing: border-box;
                 width: inherit;
                 margin: 7.4px 2px;
                 height: auto;
                 font-size: 16px;
                 color:#8dc8d6;
                 font-weight: lighter;
                 padding: 8px 8px 8px 0px;
                 border-bottom: 2px rgba(140, 138, 138, 0.22) solid;
            }

            input[type="text"]:focus, input[type="email"]:focus,
            input[type="password"]:focus,
            input[type="search"]:focus,textarea:focus{
                 border-bottom: 2px rgb(30, 223, 223) solid;
                 box-shadow: 0 3px 7px 0 rgba(121, 154, 193, 0.59);
                 padding-left: 8px;
            }

            input[type="submit"],input[type="button"]{
                 background-color: rgba(180, 180, 180, 0.3);
                 font-size: 18px;
                 font-weight: 600;
                 border-radius: 6px;
            }

            input[type="submit"]:hover,input[type="button"]:hover,select:hover,
            input[type="radio"],input[type="checkbox"]{
                 cursor: pointer;
            }

            input[type="submit"]:focus,input[type="button"]:focus{
                 background-color: white;
                 border: 2px rgba(140, 138, 138, 0.22) solid;
            }

            input[type="checkbox"],input[type="radio"]{
                 width: 15px;
                 height: 15px;
                 color: rgba(8, 169, 180, 0.85);
                 margin: 7px;
            }

            textarea{
                border: 0.7px rgb(30, 223, 223) solid;
                width: 100%;
            }

            select{
                 border: 0px 0px 2px 0px;
                 border-color:  rgba(140, 138, 138, 0.22);
                 border-radius: 6px;
            }

            .bxForm{
               display: block;
               margin: 8px 8px;
               padding: 5px;
            }
            /*-- form buku tamu --*/

        /*---- buku Tamu ---*/

/*------------- footer ----------*/

  footer{
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
  }


/*------------- footer ----------*/
